@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-size: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.9023984593837535) 7%,
    rgba(213, 11, 11, 0.6194852941176471) 73%
  );
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-imagem {
  height: 100px;
}

#listamenu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: "Sarala", sans-serif;
  font-size: 18px;
  color: #fff2e7;
  font-weight: 400;
  text-shadow: 1px 1px #000000;
}

.conteudo {
  border-top: 0.4px solid #fff2e7;
  margin-bottom: 48px;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 64px;
  color: #fff2e7;
}

.conteudo-principal-escrito-subtitulo {
  font-family: "Sarala", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #ecd6c4;
}

.conteudo-principal-escrito-botao {
  background: #ecd6c4;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: "Sarala", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #2f2325;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.conteudo-principal-imagem {
  height: 430px;
  margin-top: 32px;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 48px;
}

.conteudo-secundario-titulo {
  border-top: 0.4px solid #fff2e7;
  padding-top: 48px;
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 24px;
  color: #fff2e7;
  margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
  font-family: "Sarala", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ecd6c4;
}

.rodape {
  padding: 32px;
  border-top: 0.4px solid #fff2e7;
}

.rodape-imagem {
  height: 48px;
  display: block;
  margin: 0 auto;
}

.conteudo-principal-escrito-botao:hover {
  background-color: #717572;
  transform: scale(1.2);
}

.conteudo-principal-escrito-botao:active {
  background-color: #717572;
  transform: scale(1.2);
}

.cabecalho-menu-item:hover {
  cursor: pointer;
  transform: scale(1.15);
  transition: 0.3s ease-in-out;
}

#burguer {
  background-color: rgb(48, 48, 48);
  color: white;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 7px;
  font-size: 50px;
  display: none;
}

#burguer:active {
  background-color: white;
  color: black;
}

/* MEDIA QUERIES  */

@media (max-width: 1030px) {
  .conteudo-principal {
    margin-left: 20px;
    margin-right: 20px;
    
  }

  .conteudo-principal-imagem {
  margin-left: 30px;
}
}

@media (max-width: 950px) {
  .conteudo-secundario-paragrafo {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }
}

@media screen and (min-width: 852px) {
  #listamenu {
    display: flex !important;
  }
}

@media (max-width: 851px) {
  body {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.9023984593837535) 7%,
      rgba(213, 11, 11, 0.6194852941176471) 73%
    );
  }

  .conteudo {
    text-align: center;
    margin: 25px 25px;
  }

  .conteudo-principal-imagem {
    height: 215px;
  }

  .conteudo-principal-escrito-titulo {
    margin-top: 15px;
  }

  .conteudo-principal-escrito {
    justify-content: center;
    margin-right: 50px;
  }

  .conteudo-principal-escrito-botao {
    display: inline-block;
    margin: 0 auto;
  }

  #burguer {
    display: block;
  }

  .cabecalho {
    justify-content: space-between;
    margin: 10px 15px;
  }

  #listamenu {
    display: none;
    text-align: center;
    background-color: #717572;
    border: 1px solid black;
    padding: 10px;
    border-radius: 7px;
  }

  .cabecalho-menu-item {
    font-size: 1.1rem;
  }

  .cabecalho-imagem {
    height: 200px;
  }
}

@media (max-width: 650px) {

    .conteudo-principal {
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 16px;
  }

  .conteudo-principal-escrito-botao {
    grid-row: 1 / 2;
    justify-self: center;
  }

  .conteudo-principal-imagem {
    grid-row: 2 / 3;
    justify-self: center;
    margin: 32px 0 0 0;
  }

.conteudo-principal-escrito {
  text-align: center;
  margin-bottom: 32px;
}


  #burguer {
    display: block;
  }

  .conteudo-secundario-paragrafo {
    display: inline-block;
    margin: 0 auto;
    max-width: 728px;
    font-size: 0.95rem;
  }

  .conteudo-secundario {
    display: flex;
    flex-wrap: wrap;
  }

  .conteudo-principal {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cabecalho {
    justify-content: space-between;
  }

  #listamenu {
    display: none;
    text-align: center;
    background-color: #717572;
    border: 1px solid black;
    padding: 10px;
  }

  .conteudo-principal-escrito {
    justify-content: center;
    margin: 0;
  }

  .cabecalho-imagem {
    height: 150px;
  }
}

@media (max-width: 500px) {
  .cabecalho {
    flex-direction: column;
    gap: 32px;
  }

  .cabecalho-imagem {
    height: 150px;
  }
}
